/src/GLSLangNative/.vscode/
/src/GLSLangNative/build/
bin
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/src/spirv/.vs/spirv/v14/*.suo
/src/spirv/ipch/SPIRV-f3deb11b/*.ipch
Debug
Release
x64
/src/spirv/*.sdf
/src/spirv/spirv/*.user
/src/spirv/*.opensdf
/bin/Aardvark.Fake.dll
/src/spirv/.vs/GLSLangNative/v14/*.suo
/src/spirv/GLSLangNative/GLSLangNative.user
/.paket/paket.exe
/paket-files
/.fake
/src/*.db
/src/*.opendb
/src/GLSLangNative/*.o
/src/GLSLangNative/*.so
.paket/Paket.Restore.targets
/.paketsrc/GLSLangNative/include/
src/GLSLangNative/lib/
src/GLSLangNative/include
.paket
.DS_Store
src/GLSLangNative/libGLSLangNative.dylib
