framework: auto-detect
source https://api.nuget.org/v3/index.json
storage: none

nuget FSharp.Core           >= 8.0.0 lowest_matching: true
nuget Aardvark.Build        ~> 2.0.4
nuget Aardvark.Base         ~> 5.3.11
