framework: netstandard2.0, netcoreapp3.0
source https://api.nuget.org/v3/index.json

nuget FSharp.Core >= 4.6.2 lowest_matching: true

group Build
source https://api.nuget.org/v3/index.json
github aardvark-platform/aardvark.fake:v5
