framework: netstandard2.0, net461, netcoreapp2.0
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

nuget FSharp.Core                  >= 4.3.0
nuget Aardvark.Base                >= 4.0.20
nuget Aardvark.Base.FSharp         >= 4.0.20

group Build
framework: net45
content: none
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json
github vrvis/aardvark.fake:v4-temp

